# Python
__pycache__/
*.py[cod]
.venv/
venv/
*.egg-info/
.env

# Node
node_modules/
.next/
out/
npm-debug.log*

# Misc
.DS_Store
*.local
.idea/
.vscode/
pgdata/

# Local databases & env backups
*.db
.env.*
AI Time Table prd  v2.pdf
